* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#background_video {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  object-fit: cover;
  height: 100%;
  width: 100%;
}

#video_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-size: cover;
  background-position: center;
}

/* Demo page specific styles */

body {
  text-align: center;
  font-family: 'proxima-nova', Helvetica;
}

#container {
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.main_content {
  z-index: 2;
  position: relative;
  display: inline-block;

  /* Vertical center */
  top: 50%;
  transform: translateY(-50%);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'proxima-nova-condensed', Helvetica;
  color: #fff;
  font-size: 35px;
}


.neon-first {
  color: #FB4264;
  font-size: 70px;
  text-shadow: 0 0 3vw #F40A35;
}

.neon-second {
  color: #426DFB;
  font-size: 70px;
  text-shadow: 0 0 3vw #2356FF;
}

.neon-first {
  animation: neon-first 2s ease infinite;
  -moz-animation: neon-first 2s ease infinite;
  -webkit-animation: neon-first 2s ease infinite;
}

.neon-second {
  animation: neon-second 2s linear infinite;
  -moz-animation: neon-second 2s linear infinite;
  -webkit-animation: neon-second 2s linear infinite;
  -o-animation: neon-second 2s linear infinite;
}

.main_content .sub_head {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.main_content .info {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  margin-top: 10px;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

/* .links {
  margin-top: 50px;
}

.links a {
  border: 2px solid rgba(255, 255, 255, 0.20);
  border-radius: 61px;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 25px;
  display: inline-block;
  margin-right: 15px;
} */

button {
  margin-top: 50px;
  border: 2px solid rgba(255, 255, 255, 0.20);
  border-radius: 60px;
  font-size: 14px;
  background-color: transparent;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 14px 30px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 100);
  color: #000000;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin: 10px;
  font-size: 12px;
}

#footer a:first-child {
  float: left;
}

#footer a:last-child {
  float: right;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
}



@keyframes neon-first {

  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }

  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}



@keyframes neon-second {

  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }

  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-700px);
    transform: translateY(-700px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-700px);
    transform: translateY(-700px);
  }
}